body{background-image: url(./background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


}
.bigbox{
    border: 1px solid red;
}
#span1{
    color: red;
    font-family: sans-serif;
}
h1{
    text-align: center;

}
h5{
    text-align: center;
}
label{
    color: rgb(226, 226, 197);
}